* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
    font-weight: 100;
    scroll-behavior: smooth;
}

.box {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.box span {
    font-size: 20px;
    color: #707070;
}

form {
    width: 100%;
    margin-top: 0;
    text-align: center;
}

form input {
    color: white;
    background-color: #55AEFC;
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s all;
}

form input:hover {
    background-color: white;
    border: 1px solid #55AEFC;
    color: #55AEFC;
    transition: .5s all;
}